<template>
  <div id="app">
    <div class="list">
      <ul>
        <li v-for="event in events">
          <h3>{{event.title}}</h3>
          <p>{{event.description}}</p>
          <small>
            <p>{{ humanTime(event.start) }} - {{ humanTime(event.end) }}</p>
            <p>Duration: {{ duration(event.start, event.end) }} hours</p>
            <button @click="addTime(event)">Add an hour</button><button @click="removeTime(event)">Substract an hour</button>
          </small>
        </li>
      </ul>
    </div>
    <div class="cal">
      <full-calendar ref="calendar" :events="events" @event-resize="eventSet" @event-drop="eventSet" :config="config"></full-calendar>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  name: 'app',
  data() {
    return {
      view: 'list',
      events: [
        {
          id: 1,
          title: 'Ouwehands dierenpark',
          description: 'Dutch best zoo! Bears den worth a visit.',
          start: moment().hours(12).minutes(0),
          end: moment().hours(13).minutes(0),
        },
        {
          id: 2,
          title: 'Utrecht city center',
          description: 'You think Amsterdam is the best city in the Netherlands, until you\'ve seen utrecht',
          start: moment().add(-1, 'hours'),
          end: moment().add(1, 'hours'),
        },
        {
          id: 3,
          title: 'Scheveningen beach',
          description: 'Take a dive, get a blanket and watch the sun sink in the sea.',
          start: moment().add(2, 'days'),
          end: moment().add(2, 'days').add(3, 'hours'),
        },
      ],

      config: {
        eventClick: (event) => {
          this.selected = event;
        },
      },

      selected: {},
    };
  },

  methods: {
    setView(view) {
      this.view = view;
    },

    humanTime(time) {
      return moment(time).format('D MMM HH:MM');
    },

    addTime(event) {
      // eslint-disable-next-line no-param-reassign
      event.end = moment(event.end).add(1, 'hours');
    },

    removeTime(event) {
      // eslint-disable-next-line no-param-reassign
      event.end = moment(event.end).add(-1, 'hours');
    },

    duration(start, end) {
      return moment(start).diff(moment(end), 'hours') * -1;
    },

    eventSet(calEvent) {
      const event = this.events.filter(ev => ev.id === calEvent.id)[0];
      console.log(calEvent, event);
      // eslint-disable-next-line no-param-reassign
      event.start = calEvent.start.format();
      // eslint-disable-next-line no-param-reassign
      event.end = calEvent.end.format();
    },
  },
};
</script>

<style>
@import '~fullcalendar/dist/fullcalendar.css';

* {
  box-sizing: border-box;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.list {
  float: left;
  width: 30%;
}

.cal {
  padding-left: 2rem;
  float: right;
  width: 70%;
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 600px;
}

li {
  padding: 1rem;
  border: 1px solid #aaa;
}
</style>
